<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>CFBundleName</key><string>DentalExplain</string><key>CFBundleIdentifier</key><string>dev.dentalexplain.desktop</string><key>CFBundleExecutable</key><string>DentalExplain</string><key>CFBundlePackageType</key><string>APPL</string><key>CFBundleShortVersionString</key><string>1.3.0</string><key>CFBundleIconFile</key><string>DentalExplain.icns</string></dict></plist>
